

    /*
        Aqui colocamos todos aquellos estilos
        que se repetiran en todas nuestras paginas.

        Ejemplos:
            - Nav
            - Footer
*/

/* Nos comunicamos por medio de Selectores. */
/*nav {
    background-color: blueviolet;
 }
ul {
    list-style: none;
}
a {
    color: white;
    text-decoration: none;
} */
 /************************************************/
/*
    TIPOS DE SELECTORES
*/

/* SELECTOR UNIVERSAL */
/* * {
    color: white;
    background-color: black;
} */
 /* body {
    color: white;
    background-color: black;
 } */

/* SELECTOR DE ETIQUETA    0,0,1  */
/* p {
    color: red;   
}  */

/* SELECTOR DE CLASE */   /*0,1,0*/
/* .sega {
    color: green;
} */

/* SELECTOR DE ID */        /*1,0,0*/
/* #titulo {
    color: blueviolet;
} */

/* CODIGO DE ESPECIFIDAD */ 


/* COMBINANDO SELECTORES */

/* SELECTOR DE HIJO */
/* section > p {
    color: blue;
} */

/* SELECTOR DE DESCENDIENTE */
/* section p {
    color: blue;
} */

/*SELECTOR DE HERMANOS */
/* h2 ~ p {
    color: red;
} */

/*SELECTOR DE HERMANO ADYACENTE*/
/* h2 + p {
    color: blue;
} */

/* PSEUDOCLASES    p:nth-child() */
/* .primera p:nth-child(3) {
    color: red;
} */
