

div {
    background-color: greenyellow;
    width: 200px;
    height: 200px;    
    display: inline-block;
    }

span {
    background-color: orange;
    width: 200px;
    height: 200px;
    display: inline-block;
    }