

/* 
    SISTEMA DE POSICIONAMIENTO
    
    Permitimos a los elementos posicionables sobreponerse
    unos delante de otros en un esquema 3D

    ABSOLUTE --> No solo permite la sobreposicion, sino
    que tambien permite movilizar el container relativo
    a los margenes del navegador

    RELATIVE --> Permite movilizar un container relativo a 
    los margenes de su padre directo


    FIXED --> Es similar al absolute, pero una vez que elegimos
    una posicion, esa queda fija y si hacemos scroll, el
    elemento nos sigue en esa posicion.


    Z-INDEX --> Permite definir el orden de apilamiento
    de los elementos posicionables
*/


/* .container1 {
    width: 500px;
    height: 300px;
    background-color: transparent;
    border: 1px dashed black;
    position: absolute;
    z-index: 3;
}

.container2 {
    width: 250px;
    height: 250px;
    background-color: yellow;
    position:absolute;
    right: 75px;
    top: 50px;
    z-index: 1;
}

.container3 {
    width: 300px;
    height: 200px;
    background-color: green; 
    position: absolute;
    right: 150px;
    top: 200px;
    z-index: 2; */

* {
    margin: 0;
}

nav {
    height: 10vh;
    width: 100%;
    background-color: blueviolet;
    position: fixed;
}

img {
    width: 160px;
    position: fixed;
    right: 25px;
    bottom: 25px;
    cursor: pointer;
}
img:hover { /* hold over */
    transform: scale(1.25);
    transition: 0.3s
}

.uno {
    height: 100vh;
    background-color: orange;
}

.dos {
    height: 100vh;
    background-color: green;
}
