
/************* GRID ************/
/*
    Es un sistema de estructura que nos permite acomodar elementos en forma
    de columnas, filas o ambas (grillas) Grid es otro valor de la propiedad "display".

    A diferencia de Flexbox, Grid no es flexible por naturaleza pero es posible flexibilizarlo con ayuda 
    de otra herramienta que veremos hoy llamada Media Query.
  
    */ 



/* .container {
    background-color: black;
    width: 500px;
    height: 500px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.box {
    background-color: gray;
    border: 1px solid white;
    color: white;
} */

    * {
        box-sizing: border-box;
        margin: 0;
    }

.container {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
}
.box {
    background-color: gray;
    color: white;
    border: 2px solid white;
}


/******** MEDIA QUERY *********/
/*
    Es un instrumento de CSS que permite definir 
    como queremos que se vean los elementos a 
    partir de determinado  ancho de pantalla.
*/

/****** TABLET ******/
@media screen and (max-width: 1300px) {
    .container {
    grid-template-columns: repeat(2, 1fr);
}
.box {
    background-color: green;
}


}

/****** MOBILE *******/
@media screen and (max-width:585px) {
        .container {
    grid-template-columns: repeat(1, 1fr);
}
.box {
    background-color: red;
}
    
}