@import url('https://fonts.googleapis.com/css2?family=Poller+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ASI INVOCAMOS LA FUENTE QUE QUE EXTRAJIMOS Y LA 
COLOCAMOS DE LA SIGUIENTE FORMA, 
EN FONT-FAMILY, DECLARAMOS EL NOMBRE DE LA FUENTE

@font-face {
  src: url("../assets/Fonts/Marvel-Regular/Marvel-Regular.ttf");
  font-family: "Marvel";
} */

/********** CUSTOM PROPERTIES **********/
:root {
  --primary-color: rgb(85, 164, 85);
  --primary-alpha-color: rgba(85, 164, 85, 0.8);
  --secondary-color: #785f44;
  --white-color: #ffffff;
  --primary-font: "Poller One", cursive;
}

/* ******** RESET ******* */

* {
  box-sizing: border-box;
  color: var(--white-color);
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  background-image: url(../assets/images/yoda_home_background..jpg);
  font-family: var(--primary-font);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

/************UTILITIES ************/

/*ACA COLOCAMOS COLOCAMOS CLASES PRE-FABRICADAS
UNA CLASE PREFABRICADA, ES UN TIPO DE CLASE QUE TIENE UN OBJETIVO
PUNTUAL, Y QUE AL COLOCARLO EN ESE ELEMENTO, CUMPLE ESE OBJETIVO 
POR EJ. UN "BTN" ES UNA CLASE PREFABRICADA QUE CONVIERTE CUALQUIER 
ELEMENTO Y LO CONVIERTE EN BOTON GENERICO*/

.btn {
  display: inline-block;
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 2rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3rem;
  text-transform: uppercase;
  line-height: 0;
  font-family: var(--primary-font);
  height: 3.3rem;
  text-align: center;
  transition: 0.3s;
  width: 200px;
}

.btn:hover {
  background-color: var(--primary-alpha-color);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/********** SITE STYLES **********/
/***** NAVIGATION ******/

/*El anidado en Css es una tecnica de ANIDACION CSS o NESTING para organizar mejor el codigo
y que consiste en colocar dentro de un selector, otro selector, para indicar
que ese selector hijo, SOLO APLICA CUANDO ESTA DENTRO DEL SELECTOR PADRE
a modo que nos queden estructuras como BLOQUE GRANDE, como por ejemplo para trabajar con un 
bloque nav, estilizamos todos los elementos del nav, y luego con el bloque de home y estilizamos todo el home*/

.nav_container 
{
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 2%;
  position: fixed;
  width: 100%;

    & .nav_logo 
    {
      align-items: center;
      column-gap: 10px;
      display: flex;
      
      & img 
      {
        width: 60px;
      }
    }

    & .nav_menu 
    {
      column-gap: 50px;
      display: flex;
      
      & .nav_item 
      {
        transition: 0.3s;
      }
      & .nav_item:hover
      {
        color: var(--secondary-color);
      }
    }
}

.nav_active 
{
  background-color: var(--primary-color);
}


/***** HOME ******/
.home 
{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100%;
  padding-left: 2%;

    & h1 
    {
      font-size: 5rem;
      margin-bottom: 1rem;
      & span 
      {
        color: var(--primary-color);
      }
    }
}
 
/***** EMPTY ******/
.empty 
{
  background-color: var(--white-color);
  height: 100vh;
}