/********  FLEXBOX *******/

/* 
    Flexbox es un sistema de distribucion de elementos, en el cual consideramos cada elemento como una
    caja y la idea es declarar un contenedor como flexible, permitiendole distribuir a sus hijos a 
    nuestro antojo 
*/

/*
  
    ¿Que es una caja? o mas bien ¿A que consideramos una caja? 
    Una caja se define por 4 caracteristicas:
    -Contenido (content) --> Es todo aquello que pueda contener, desde
    texto hasta otros elementos html
    -Relleno (padding) --> Es todo aquello que rodee al contenido
    pero que no se salga de la caja.
    -Borde (border) --> Las fronteras entre lo interno de la cajay lo externo
    -Margen (margin) --> La distancia que definimos entre un contenedor
    y los contenedores aldeaños
    */
    
/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

/* .container {
    width: 400px;
    height: 400px;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    width: 70px;
    height: 70px;
    background-color: orange;
    border: 1px solid black;
}

.uno {
    border: 2px solid yellow;
    align-self: flex-start;
}
.dos {
    border: 2px solid green;
}
.tres {
    border: 2px solid red;
    align-self: flex-end;
} */

.card {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -1px 0px 10px -5px grey;
    padding: 2% 1% 2% 1%;
    border-radius: 1.2rem;
}

.card img {
    width: 80%;
    margin-bottom: -1rem;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text h3 {
    font-size: 3rem;
    line-height: 1;
    margin-bottom: -0.1rem;
}

.text p {
    font-size: 1.5rem;
}